* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: #0d1117;
}

#title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

#input {
    background-color: #161b22;
    width: 575px;
    height: 15px;
    text-align: center;
    padding: 25px;
    border: none;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#input:focus {
    outline: none;
}

#button {
    background-color: #238636;
    border: none;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 265px;
    height: 65px;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s linear;
    cursor: pointer;
}

#button:hover {
    background-color: #1e722f;
    border-radius: 20px;
}

#button:focus {
    outline: none;
}